.slider {
  user-select: none;
  padding: 0 20px;
  margin: auto;

  & > h1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 40px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  & > button {
    position: absolute;
    z-index: 5;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #080715;
    opacity: 0.5;
    transition: 0.1s ease-in-out;

    & > svg {
      width: 25px;
      min-width: 25px;
      height: 25px;
      min-height: 25px;
      fill: #fff;

      transition: 0.15s ease-in-out;
    }

    &:hover {
      opacity: 1;
    }

    &:disabled {
      pointer-events: none;
    }

    &.hidden {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.arrows {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.track {
  cursor: grab;
  position: relative;
  width: 100%;
  height: 100%;

  & > div {
  }
}
