* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

body {
  font-family: 'Neue Machina';
  color: #fff;
  height: 110vh;
  background-color: #080715;
  overflow-x: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  max-width: 1440px;
}
